:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  --size-300: 24px;
  --border-width-thin: 1px;
  --border-width-thick: 4px;

  /* stylelint-disable color-no-hex -- colors fow now in here */
  --text-event-color-focus: #ffffff;

  /* grays */
  --color-gray-50: #ffffff;
  --color-gray-100: #f8f8f8;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #d5d5d5;
  --color-gray-400: #b1b1b1;

  /* blues */
  --color-blue-400: #147af3;
  --color-blue-600: #0054b6;
  --color-blue-700: #004491;

  /* stylelint-enablecolor-no-hex */

  /* main area */
  --main-background-color: var(--color-gray-50);
  --outline-border-color: var(--color-gray-200);
  --outline-border-width: var(--border-width-thin);

  /* header stuff */
  --header-column-border-color: var(--color-gray-200);
  --header-area-bottom-border-color: var(--color-gray-300);
  --header-today-marker-border-color: var(--color-blue-400);

  /* content stuff */
  --content-time-column-width: 7ch;
  --content-background-color: var(--color-gray-100);
  --content-column-border-color: var(--color-gray-400);
  --content-row-border-color-none-working: var(--color-gray-400);
  --content-row-border-color-working: var(--color-gray-300);
  --content-top-spacing: 0.5lh;
  --content-column-min-width: 15ch;

  /* event stuff */
  --event-color-type-1-bg: var(--color-blue-400);
  --event-color-type-1-fg: var(--color-blue-700);

  /* fullday event stuff */
  --full-day-event-height: 3ex;

  border-width: var(--outline-border-width);
  border-style: solid;
  border-color: var(--outline-border-color);
}

.overflow-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.main-content {
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  min-width: calc(
    var(--day-count) * var(--content-column-min-width) +
      var(--content-time-column-width)
  );
  overflow-y: hidden;
}

.header-area {
  display: grid;
  grid-template-columns: var(--content-time-column-width) auto;
  border-bottom: var(--border-width-thick) solid
    var(--header-area-bottom-border-color);
}

.header-area > .days-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-column: 2;
}

.header-area > .days-area > .days-area-header-area {
  display: grid;
  grid-template-columns: repeat(var(--day-count, 1), 1fr);
}

.day-header-container {
  display: flex;
}

.day-header-text-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  border-left: var(--border-width-thin) solid var(--header-column-border-color);
}

.day-header-text-container.today::after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(var(--border-width-thin) * -1);
  right: 0;
  border-top-style: solid;
  border-top-width: 4px;
  border-color: var(--header-today-marker-border-color);
}

.day-header-text-node-container {
  display: flex;
  align-items: baseline;
  column-gap: 8px;
  padding-left: 8px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.day-text-date {
  font-weight: 600;
  font-size: 1.4em;
}

.day-header-text-container.today .day-text-date {
  color: var(--color-blue-700);
}

.day-text-week {
  font-weight: 400;
}

.header-full-day-container {
  display: grid;
  grid-template-columns: repeat(var(--day-count, 1), 1fr);
  position: relative;
  min-height: calc(var(--day-max-lanes) * var(--full-day-event-height));
}

.header-full-day-column {
  border-left: var(--border-width-thin) solid var(--header-column-border-color);
}

.content-area {
  display: grid;
  grid-template-columns: var(--content-time-column-width) auto;
  overflow-y: auto;
  flex-grow: 1;
}

.hours-column-area {
  display: flex;
  flex-direction: column;
  padding-top: var(--content-top-spacing);
}

.hours-column-content {
  min-height: calc(var(--hours-count) * var(--hour-partition) * 1.5lh);
  display: grid;
  grid-template-rows: repeat(
    calc(var(--hours-count) * var(--hour-partition)),
    1fr
  );
  flex-grow: 1;
}

.hour-segment.hour-segment-top-none-working {
  border-top-color: var(--content-row-border-color-none-working);
}

.hour-segment:not(.hour-segment-top-none-working) {
  border-top-color: var(--content-row-border-color-working);
}

.hour-segment.hour-segment-bottom-none-working {
  border-bottom-color: var(--content-row-border-color-none-working);
}

.hour-segment:not(.hour-segment-bottom-none-working) {
  border-bottom-color: var(--content-row-border-color-working);
}

.hour-segment-work-hour {
  background-color: var(--main-background-color);
}

.hour-segment-dashed {
  border-top-width: var(--border-width-thin);
  border-top-style: solid;
  border-bottom-width: var(--border-width-thin);
  border-bottom-style: dashed;
}

.hour-text-positioner {
  translate: 0 -0.5lh;
  text-align: center;
}

.hour-text-text {
  font-weight: 400;
  background-color: var(--main-background-color);
  padding-left: 2px;
  padding-right: 2px;
}

.content-days-area {
  display: grid;
  grid-template-columns: repeat(var(--day-count, 1), 1fr);
}

.content-column {
  display: flex;
  position: relative;
  padding-top: var(--content-top-spacing);
  background-color: var(--content-background-color);
  border-left: var(--border-width-thin) solid var(--content-column-border-color);
  flex-direction: column;
  flex-grow: 1;
}

.content-column-content {
  position: relative;
  min-height: calc(var(--hours-count) * var(--hour-partition) * 30px);
  display: grid;
  grid-template-rows: repeat(
    calc(var(--hours-count) * var(--hour-partition)),
    1fr
  );
  flex-grow: 1;
}

.time-event {
  display: flex;
  position: absolute;
  scroll-margin-top: 10px;
  scroll-margin-bottom: 10px;
  outline: none;

  --event-color-bg: var(--event-color-type-1-bg);
  --event-color-fg: var(--event-color-type-1-fg);

  color: var(--event-color-fg);
  overflow: hidden;
}

.time-event-content {
  border-left: 4px solid var(--event-color-fg);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.time-event::before {
  content: '';
  position: absolute;
  inset: 0 0 0 4px;
  background-color: var(--event-color-bg);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0.24;
}

.time-event:hover::before {
  opacity: 0.48;
}

.time-event:focus::before {
  opacity: 1;
}

.time-event:focus {
  overflow: visible;
  color: var(--text-event-color-focus);
  /* stylelint-disable-next-line property-disallowed-list -- move event above others if overlapping */
  z-index: 1;
}

.time-event .event-text-positioner {
  max-height: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-self: flex-start;
  font-size: 1em;
  line-height: 1em;
  flex-grow: 1;
}

.time-event:focus .event-text-positioner {
  max-height: unset;
}

.time-event .event-text-positioner .event-text {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2px;
  border-radius: 2px;
  flex-grow: 1;
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.time-event:focus .event-text {
  background-color: var(--event-color-bg);
}

.time-event .event-text-positioner .event-text .subject {
  font-weight: 600;
}

.time-event .event-text-positioner .event-text .time {
  display: inline-block;
  font-size: 0.8em;
}

.day-event {
  position: absolute;
  display: flex;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;

  --event-color-bg: var(--event-color-type-1-bg);
  --event-color-fg: var(--event-color-type-1-fg);

  color: var(--event-color-fg);
}

.day-event-text-container {
  position: relative; /* We want a new stacking container */
  display: flex;
  flex-grow: 1;
  align-items: baseline;
}

.day-event-text {
  font-weight: 600;
}

.day-event-text-lead-text,
.day-event-text-end-text {
  font-weight: 300;
  font-size: 0.75em;
}

.day-event-text-lead-text {
  padding-right: 5px;
}

.day-event-text-end-text {
  margin-left: auto;
}

.day-event:focus {
  color: var(--text-event-color-focus);
}

.day-event::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--event-color-bg);
  border-radius: 2px;
  opacity: 0.02;
}

.day-event:hover::before {
  opacity: 0.12;
}

.day-event:focus::before {
  opacity: 1;
}

.day-event::after {
  content: '';
  position: absolute;
  inset: 0;
  border-color: var(--event-color-bg);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  opacity: 0.5;
}
